html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    background: #fff6f6;
}

h1 {
    font-size: 2rem;
    color: #e57373;
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
}

#top-bar {
    padding-left: 24px;
}

.version {
    font-size: 0.95rem;
    color: #888;
    text-align: center;
}

form {
    text-align: center;
    margin-top: 32px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    margin-left: 4px;
    font-size: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background: #fff;
}

button, #button, #login, #create {
    background-color: lightcoral;
    color: white;
    padding: 6px;
    margin: 10px;
    margin-top: 15px;
    font-family: 'EB Garamond', serif;
    border: 2px outset lightcoral;
    cursor: pointer;
}

button:active, #button:active, #login:active, #create:active {
    border: 2px inset lightcoral;
}

